<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Geosys_Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Geosys_Plugin.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTestingService" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeographicalUs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeographicalEurope" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CropType" serializeAs="String">
                <value>CORN</value>
            </setting>
            <setting name="SowingDate" serializeAs="String">
                <value>2022-01-01</value>
            </setting>
            <setting name="MaxItemsPerRequest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="AuthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Geosys_Plugin.Properties.Settings>
    </userSettings>
</configuration>